{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="about_me">
  <p><h1>Terence Uzamere.</h1></p>

<div align="justify"><hr>
<div class="col-lg-6"><p>While pursuing a bachelor’s degree in Computer Information Systems at Quinnipiac University, I have developed many technical skills, such as front-end and back-end development in the Python, Scala, and HTML programming language, object-oriented analysis and design, advanced excel work, SQL server programming, and many other valuable technical skills. This knowledge has enabled me to operate in frequently used enterprise platforms such as Oracle, Microsoft Office, Django, Microsoft SQL server, Google AdWords, and many other useful applications. </p>
<br><br><p>When I graduate from Quinnipiac in May 2016, I have aspirations of going to graduate school and getting my MBA. I also want to travel the world as much as possible while I am still young. I enjoy watching sports and playing sports as well. My favorite sports teams are the New York Giants, Los Angeles Lakers, New York Yankees and Real Madrid in soccer. I have an older sister and two younger brothers. My favorite movie of all time is "The Shawshank Redemption"</p>
</div>

<div class="col-lg-6"><center><img src="{% static "image/Library Pic.jpg" %}" class="img-responsive" alt="Me" width="300px" height="300"/></center></div>

</div>


{% endblock %}