{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="about_me">
  <p><h1>Hi! My name is Terence Uzamere.</h1></p>

<div align="justify"><hr>
<div class="col-lg-6"><p>I am a senior CIS Major from Hempstead, NY
Some computer experience I have is microsft office, netbeans, and python
Hobbies I have are going to the gym, playing basketball, and reading tech articles
Most significant accomplishment up to this point in my life is getting into QU, it has changed my life for the better.
I am not a huge book reader, I prefer to read current event articles and such.
Ideal summer vacation: Hawaii or Puerto Rico
Countries I have visited outside U.S., Nigeria, England, Puerto Rico, St.Martins, St.Kitts, Bahamas</p>
<br><br><p>When I graduate from Quinnipiac in May 2016, I have aspirations of going to graduate school and getting my MBA. I also want to travel the world as much as possible while I am still young. I enjoy watching sports and playing sports as well. My favorite sports teams are the New York Giants, Los Angeles Lakers, New York Yankees and Real Madrid in soccer. I have an older sister and two younger brothers. My favorite movie of all time is "The Shawshank Redemption"</p>
</div>

<div class="col-lg-6"><center><img src="{% static "image/Library Pic.jpg" %}" class="img-responsive" alt="Me" width="300px" height="300"/></center></div>


</div>



{% endblock %}