{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <h1><center>Terence Uzamere</h1>
  <p><center>Quinnipiac University Class of 2016</p>
  <p><center><a href="{% url 'contact_form' %}" class="btn btn-lg btn-primary">Contact Me</a></p>
</div>
<div class="container">
      <!-- Example row of columns -->
      <div class="col-md-4">
          <h2>About Me</h2>
          <p>Hello Everyone! My name is Terence! I am a senior Computer Information Systems major at Quinnipiac University. I am an aspiring analyst/consultant. On my free time, I enjoy working out and hanging out with my friends. </p>
      </div>
        <div class="col-md-4">
          <h2>Accomplishments</h2>
          <p>In May 2016, I will be graduating from Quinnipiac University!</p>
        </div>
        <div class="col-md-4">
          <h2>Acknowledgement</h2>
          <p>I would like to thank Professor Guido Lang for inspiring me to create this page.</p>
  </div>
</div>
</div>
{% endblock %}