{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<div class="jumbotron">
  <h1><center>Terence Uzamere</h1>
    <center><img src="{% static "image/Me.jpg" %}" class="img-responsive" alt="Me" width="300px" height="300"/></center>
  <p><center>Quinnipiac University Class of 2016</p>
  <p><center><a href="{% url 'contact_form' %}" class="btn btn-lg btn-primary">Contact Me</a></p>
</div>
<div class="container">
      <!-- Example row of columns -->
      <div class="col-md-4">
          <h2>About Me</h2>
          <p>I am an aspiring analyst and web developer looking for an opportunity to work for a company in which I can work as well as grow my skills. I am presently more in-tuned with the business and analysis side of technology, although I am fairly comfortable in web development and programming </p>
      </div>
        <div class="col-md-4">
          <h2>Skills</h2>
          <p>Data Diagramming</p>
          <p>Web Development</p>
          <p>Search Engine Marketing</p>
        </div>
        <div class="col-md-4">
          <h2>Acknowledgement</h2>
          <p>I would like to thank Professor Guido Lang for inspiring me to create this page.</p>
  </div>
</div>
</div>
{% endblock %}